.Editing {
    display: flex;
    justify-content: center;
    padding-top: 100px;
    flex-grow: 1;
    width: 100%;
    background: linear-gradient(90deg, #f7f7fa 0%, #b9b9b9 100%);
}
.EditingWrapper {
    width: 600px;
    text-align: center;
}
.Editing h1 {
    color: #F73;
    margin-left: 10px;
}
.PDFDownloadLink {
    padding: 10px;
    font-weight: 700;
    font-size: 20px;
}
.PDFDownloadLink a:hover{
    color:coral;
}